<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinkoc</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../partials/header') %>
    <section id="home">
      <div class="home_page">
        <div class="home_img">
          <img src="/assets/Profile_Images/anh2.jpg" alt="img " />
        </div>
        <div class="home_txt">
          <p class="collectio">Welcome</p>
          <h2><%= data.profile[0].shopName %></h2>
          <div class="home_label">
            <p>
              A specialist label creating luxury essentials. Ethically
              crafted<br />with an unwavering commitment to exceptional quality.
            </p>
          </div>
          <button>SHOP NOW</button>
          <div class="home_social_icons">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-pinterest"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>

    <!-- add product -->
    <div class="addProduct">
      <h1>Add more product</h1>
      <form
        id="formData"
        method="POST"
        action="/home"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          name="image"
          accept=".jpg,.jpeg,.png"
          placeholder="choose image"
          style="padding-left: 0; padding-right: 0"
          required
          multiple
        />
        <input
          type="text"
          id="productName"
          placeholder="Product Name"
          name="productName"
          required
        />

        <input
          type="number"
          id="productPrice"
          placeholder="Product Price"
          name="productPrice"
          required
        />
        <input
          type="text"
          id="productStatus"
          placeholder="Product Status"
          name="productStatus"
          required
        />
        <input
          type="text"
          id="productDescription"
          placeholder="Product Description"
          name="productDescription"
          required
        />
        <div class="select_container">
          <label for="categories">Choose a category:</label>
          <select name="productCategory" id="categories">
            <% for(let i=0; i< data.categories.length; i++) {%>
            <option value="<%= data.categories[i].type %>">
              <%= data.categories[i].type %>
            </option>
            <% } %>
          </select>
        </div>
        <button id="submitForm" type="submit">Create</button>
      </form>
    </div>
    <!-- All product -->
    <h1 class="all_product_heading">All Products</h1>
    <div class="all_product">
      <!--  -->
      <% for(let i=0; i< data.categories.length; i++) {%>
      <div class="eachContainer">
        <h1 class="product_heading"><%= data.categories[i].type %></h1>
        <div
          class="container <%= data.categories[i].type %>"
          id="<%= data.categories[i].type %>"
        >
          <% for(let j=0; j< data.allProducts.length; j++) {%> <%
          if(data.categories[i].id == data.allProducts[j].categoryID) {%>
          <div
            class="product-card card"
            id="<%= data.allProducts[j].id %>"
            status="<%= data.allProducts[j].status %>"
          >
            <div class="product-header">
              <img
                class="product-picture"
                src="<%= data.allProducts[j].listImage.split(',')[0] %>"
              />
            </div>
            <div class="card-details">
              <h3 class="product-name"><%= data.allProducts[j].name %></h3>
              <div class="bottom-row">
                <p class="price"><%= data.allProducts[j].price %></p>
                <a
                  href="/product/<%= data.categories[i].type %>/<%= data.allProducts[j].id %>"
                >
                  <button class="add-cart">
                    <i class="fas fa-plus"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
          <% } %> <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
    <script
      src="https://kit.fontawesome.com/b25957ae4f.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/header.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
